@model IEnumerable<FerreteriaProMAX.Models.DetalleEstado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado.Estado1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.IdEmpleado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaFIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.Estado1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.IdEmpleado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idDetalleEstado }) |
            @Html.ActionLink("Details", "Details", new { id=item.idDetalleEstado }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idDetalleEstado })
        </td>
    </tr>
}

</table>
